/* 
 * CSS for host names metabox
 */

#custom_meta_box .inside {
    padding: 0;
}

#custom_meta_box h3 {
    font-size: 13px;
}

#custom_meta_box div[id$="-fields"]:not(:first-of-type) {
    border-top: 1px solid #c3c4c7;
}

#custom_meta_box div[id$="-fields"] {
    padding: 0 12px;
}

#custom_meta_box p label {
    display: none;
}

#custom_meta_box p .add_field_button {
    margin-left: 12px;
}
